.menu-card{
    height: 100vh;
}
.menu-logo{
    user-select: none;
    font-family: 微软雅黑, system-ui;
    font-weight: bolder;
    font-size: 1rem;
}
.container-card{
    height: 100vh;
}
:deep(.el-menu-item.is-active){
    color: #002fa7;
}
:deep(.el-menu) {
    border-right:none
}